* {
  background: rgb(241, 237, 224);
}

@media screen and (min-width: 400px) {
  .header{
    width: 700px;
    min-width: 500px;
    min-height: 150px;
    margin: 0 auto;
  }
  .header h1 {
    color: black;
    font-family: "Andale Mono", monospace, cursive;
    display: block;
    margin-left: 15px;
    margin: 10px 0px;
  }

  .container {
    font-family: "Andale Mono", monospace, cursive;
    width: 100px;
    min-width: 550px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header{
    width: 400px;
    min-width: 390px;
    min-height: 150px;
    margin: 0 auto;
  }
  .header h1 {
    color: black;
    font-family: "Andale Mono", monospace, cursive;
    display: block;
    font-size: 20px;
  }

  .header img.waveEmoji {
    width: 20px;
    height: 20px;
  }

  .container {
    font-family: "Andale Mono", monospace, cursive;
    width: 300px;
    max-width: 380px;
    margin: 10px auto;
    margin-top: 40px;
    text-align: left;
    font-size: 15px;
  }
}


.footer {
  font-family: "Andale Mono", monospace, cursive;
  font-style: italic;
  position: fixed;
  left: 0;
  bottom: 0;
  color: grey;
}

img.projects {
  -webkit-filter: grayscale(1);
  margin-left: 300px;
  width: 550px;
  height: 300px;
}

img.projects:hover {
  -webkit-filter: grayscale(0);
  transform: scale(1.05);
  transition: 0.3s linear;
}

/* GLOBAL STYLES */
 .main {
  padding-top: 90px;
  text-align: center; 
} 



/* img.waveEmoji {
  display: inline-block;
} */

@media screen and (min-width: 400px) {
  .header img.iconPic {
    float:left;
    align-self: center;
    margin-right: 10px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header img.iconPic {
    align-self: center;
    border-radius: 100%;
  }
  
}

.header:link {
  color: black;
  text-decoration: none;
}

.header:visited {
  color: black;
  text-decoration: none;
}

.header:hover {
  color: rgb(241, 120, 140);
  transition: color 0.8s ease-in-out;
}

.list:link {
  color: rgb(241, 120, 140);
}

.list:visited {
  color: rgb(241, 120, 140);
  text-decoration: none;
}

.list:hover {
  color:orange;
  text-decoration: none;
  transition: color 0.8s ease-in-out;
}

p.container {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 50vh;
}

li.container {
  font-family: "Andale Mono", monospace, cursive;
  font-size: 40px;
}

.container a {
  color: rgb(241, 120, 140);
}
.container a:hover {
  color: orange;
  transition: color 0.8s ease-in-out;
}


/* icons in the header */
.header .fa {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.fa {
  padding: 5px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.fa:hover {
  text-shadow: 3px 3px lightgrey;
  transition: 0.3s linear;
}



.fa-linkedin {
  position: relative;
  color: #007bb5;
}

.fa-instagram {
  position: relative;
  color: #B70977;
}

.fa-github {
  position: relative;
  color: #4E3188;
}

.fa-twitter {
  position: relative;
  color: #00aced;
}

