* {
  background: rgb(241, 237, 224);
}

.header{
  width: 400px;
  min-width: 700px;
  min-height: 150px;
  margin: auto;
}

.container {
  font-family: "Andale Mono", monospace, cursive;
  width: 100px;
  min-width: 550px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
  font-size: 100%;
}

.footer {
  font-family: "Andale Mono", monospace, cursive;
  font-style: italic;
  position: fixed;
  left: 0;
  bottom: 0;
  color: grey;
}

img.projects {
  -webkit-filter: grayscale(1);
  margin-left: 300px;
  width: 550px;
  height: 300px;
}

img.projects:hover {
  -webkit-filter: grayscale(0);
  transform: scale(1.05);
  transition: 0.3s linear;
}

/*
.button {
  font-family: "Andale Mono", monospace, cursive;
  display: inline-block;
  position: fixed;
  background-color: white;
  border: 1.5px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 70px;
  cursor: pointer;
}

.button:hover {
  background-color: pink;
  opacity: 0.7;
  transition: background-color 0.5s linear;
  border: 1px solid black;

}
*/

/* GLOBAL STYLES */
 .main {
  padding-top: 90px;
  text-align: center; 
} 

.header h1 {
  color: black;
  font-family: "Andale Mono", monospace, cursive;
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
}

img.waveEmoji {
  display: inline-block;
}

.header img.iconPic {
  float: left;
  align-self: center;
  margin-right: 10px;
  border-radius: 100%;
}

.header:link {
  color: black;
  text-decoration: none;
}

.header:visited {
  color: black;
  text-decoration: none;
}

.header:hover {
  color: rgb(241, 120, 140);
  transition: color 0.8s ease-in-out;
}

.list:link {
  color: rgb(241, 120, 140);
}

.list:visited {
  color: rgb(241, 120, 140);
  text-decoration: none;
}

.list:hover {
  color:orange;
  text-decoration: none;
  transition: color 0.8s ease-in-out;
}

p.container {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 50vh;
}

li.container {
  font-family: "Andale Mono", monospace, cursive;
  font-size: 40px;
}

.container a {
  color: rgb(241, 120, 140);
}
.container a:hover {
  color: orange;
  transition: color 0.8s ease-in-out;
}


/* icons in the header */
.header .fa {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.fa {
  padding: 5px;
  font-size: 40px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.fa:hover {
  text-shadow: 3px 3px lightgrey;
  transition: 0.3s linear;
}


.fa-facebook {
  position: relative;
  color: #3B5998;
}

.fa-linkedin {
  position: relative;
  color: #007bb5;
}

.fa-instagram {
  position: relative;
  color: #125688;
}

.fa-github {
  position: relative;
  color: #4E3188;
}

.fa-twitter {
  position: relative;
  color: #00aced;
}

.fa-envelope {
  position: relative;
  color: #B70977;
}
