html, body {
  margin: 0;
  padding: 0;
}

.header{
  position: relative;
  text-decoration: none;
  background-color: white;
  min-height: 132px;
  text-align:center;
  margin-left: 10px;

}

.content {
  font-family: "Andale Mono", monospace, cursive;
  width: 550px;
  border: fixed;
  margin-left: 350px;
  margin-top: 100px;
  padding: 10px;
  position: absolute;
  top: -30px;
}

h1 {
  display:inline-block;
}

.footer {
  font-family: "Andale Mono", monospace, cursive;
  font-style: italic;
  position: fixed;
  left: 0;
  bottom: 0;
  color: grey;
}

img.projects {
  -webkit-filter: grayscale(1);
  margin-left: 300px;
  width: 550px;
  height: 300px;
}

img.projects:hover {
  -webkit-filter: grayscale(0);
  transform: scale(1.05);
  transition: 0.3s linear;
}

/*
.button {
  font-family: "Andale Mono", monospace, cursive;
  display: inline-block;
  position: fixed;
  background-color: white;
  border: 1.5px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 70px;
  cursor: pointer;
}

.button:hover {
  background-color: pink;
  opacity: 0.7;
  transition: background-color 0.5s linear;
  border: 1px solid black;

}
*/

/* GLOBAL STYLES */
body {
  padding-top: 90px;
  display: flex;
  position: center;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: pink }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1{
  text-align: center;
  color: black;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid pink; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(33, end),
    blink-caret .5s step-end infinite;
}


.header:link {
  color: black;
  text-decoration: none;
}

.header:visited {
  color: black;
  text-decoration: none;
}

.header:hover {
  color: pink;
  transition: color 0.8s ease-in-out;
}

.list:link {
  color: pink;
}

.list:visited {
  color: pink;
  text-decoration: none;
}

.list:hover {
  color:orange;
  text-decoration: none;
  transition: color 0.8s ease-in-out;
}

p.content {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 50px;
}

li.content {
  font-family: "Andale Mono", monospace, cursive;
  font-size: 40px;
}

/* Side Nav for Future */
.sidenav{
  margin: auto;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a{
  font-family: "Andale Mono", monospace, cursive;
  color: black;
  opacity: 0.5;
  font-size: 20px;
}

.sidenav a:hover {
  font-size: 23px;
  font-style: italic;
  color: pink;
  transition: color 0.5s linear;
}



.header .fa {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.fa {
  padding: 5px;
  font-size: 40px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  text-shadow: 3px 3px lightgrey;
  transition: 0.3s linear;
}


.fa-facebook {
  position: relative;
  background-color: white;
  color: #3B5998;
}

.fa-linkedin {
  position: relative;
  background-color: white;
  color: #007bb5;
}

.fa-instagram {
  position: relative;
  background-color: white;
  color: #125688;
}

.fa-github {
  position: relative;
  background-color: white;
  color: #4E3188;
}

.fa-twitter {
  position: relative;
  background-color: white;
  color: #00aced;
}

.fa-envelope {
  position: relative;
  background-color: white;
  color: #B70977;
}
